<div>
  <h2>{{scvm.subredditName}} - {{scvm.subredditType}}</h2>

  <hr />

  <input type="text" ng-model="scvm.filterText"/>

  <hr />

  <div ng-repeat="link in scvm.links | filter:scvm.filterText track by $index" link="link"/>
</div>
